@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fraunces", serif;
}

:root{

    --Red400: hsl(7, 99%, 70%);
    --Yellow500: hsl(51, 100%, 49%);
    --Green800: hsl(167, 40%, 24%);
    --Blue800:  hsl(156, 62%, 14%);
    --Green500: hsl(167, 65%, 66%);
    --Grey950: hsl(212, 27%, 19%);
    --Grey600: hsl(213, 9%, 39%);
    --Grey550: hsl(232, 10%, 55%);
    --Grey400: hsl(210, 4%, 67%);
    --White: hsl(0, 100%, 100%);
}


.header-text{
    font-size: 50px;
    top: 40%;
}

.header-arrow{
    top: 69%;
}

.header-container{
    height: 60vh;
    background-image: url('/images/mobile/image-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
}


.footer{
    height: 350px;
    background-color: var(--Green500);
}

.footerTitle{
    color: var(--Green800);
}


@media (min-width: 600px){

    .header-container{
        background-image: url('/images/desktop/image-header.jpg');
    }

    .header-text{
        top: 30%;
    }

    .header-arrow{
        top: 52%;
    }


    .header-img{
        height: 100%;
        width: 80%;
    }

}

